{% extends 'base.html' %}
{% block content %}

<!--Container for the blog home content-->
<div class="blog-home-container">

    <!--Heading for the blog section-->
    <div class="user-blog-header">
        <h1 class="user-post-title"><i class="fa fa-pencil mr-3"></i>Latest Blog Posts</h1>
    </div>
    
    <!--Container for the blog article cards-->
    <div class="blog-card-container">
        <!--For loop to display the following code for each of the blog cards-->
        {% for post in posts %}
            <article class="blog-article">
                <img class="article-image" src="{{ post.image.url }}">
                <div class="blog-intro">
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'public_profile' post.author.profile.id %}">{{ post.author }}</a>
                        <small class="text-muted">{{ post.date_posted|date:"dS F, Y" }}</small>
                    </div>                    
                    <h2 class="blog-home-title"><a class="mt-3" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                    <p class="article-card-intro">{{ post.intro|truncatewords:20 }}</p>
                    <a class="mt-3" href="{% url 'post-detail' post.id %}">Read More...</a>
                </div>
            </article>
        {% endfor %}
    </div>

    <!--If statement to display page numbers if the number of blogs exceeds six-->
    {% if is_paginated %}
        <div class="paginate-buttons ml-3">

            <!--Display first and previous button if page exists-->
            {% if page_obj.has_previous %}
                <a class="btn btn-primary" href="?page=1">First</a>
                <a class="btn btn-primary" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            <!--Page numbers with links to the relative pages-->
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-outline-primary" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                    <a class="btn btn-primary" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            <!--Display next and last button if page exists-->
            {% if page_obj.has_next %}
                <a class="btn btn-primary" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-primary" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}
        </div>        
    {% endif %} 

    <div class="new-job-post-button">
        <a class="btn btn-primary btn-small" href="{% url 'post-create' %}">Create New Post</a>
    </div> 
</div>

{% endblock content %}

