{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<!--Content container-->
<div class="container">

	<!--Form container-->
	<div class="form-section">

		<!--Form for the user to fill in their information. When the form is submitted, the new password is saved and the user will be able to log in with their new information-->
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Reset Password</legend>
				<!--Crispy forms to make forms professional-->
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-primary btn-block" type="submit">Reset Password</button>
			</div>			
		</form>
	</div>
</div>
{% endblock content %}